<div class="youtube_popup">
 <youtube-player [videoId]="videoId.item" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
</div>
<div class="button-row d-flex mac_close mac_close_pos">
    <button matDialogClose class="mac_red d-flex justify-content-center align-items-center"><i class="fa fa-close"></i></button>
    <button matDialogClose class="mac_yello d-flex justify-content-center align-items-center"><i class="fa fa-minus"></i></button>
    <button matDialogClose class="mac_green d-flex justify-content-center align-items-center"><i class="fa fa-plus"></i></button>
  
  </div>
