<div class="common-container">
  <div class="login-container d-flex justify-content-center align-items-center h-100">
    <div class="login_box p-30 ">
      
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Enter your password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <button (click)="login()" class="col-4" mat-raised-button color="primary">Login</button>
        </div>
      
    </div>
  </div>
</div>
