<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">About Me</h2>
  </div>
  <div>
    <p *ngFor="let item of aboutme | async">{{item.name}}</p>
  </div>
  <div>
    <h6>Personal Detail</h6>
  </div>
  <div class="loader" *ngIf="loader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div class="row">

 
  <div class="col-md-5">

    <div class="d-flex" *ngFor="let about of about_detail | async">
      <div class="col-4 p-0">
        <p>{{about.name}}</p>
      </div>
      <div class="col-1 p-0">
        <p>:</p>
      </div>
      <div class="col-7 p-0">
        <p>{{about.detail}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 col-7">
    <div class="about_img">

    </div>
  </div>
</div>

</div>
