<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">Angular 6</h2>
  </div>
  <div class="d-flex angular_row flex-wrap">

    <div class="angular_col" *ngFor="let item of videoList?.items">
      <img src="{{item.snippet?.thumbnails?.medium?.url}}">
      <div class="plus_icon">
        <button (click)="openDialog(item.snippet?.resourceId?.videoId)">
          <i class="fa fa-play"></i>
        </button>
      </div>

    </div>
  </div>
  <div class="loader" *ngIf="loader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
</div>
