<!-- <app-admin-nav></app-admin-nav> -->
<router-outlet></router-outlet>
<button mat-fab color="accent" class="mat-fab-bottom-right set_button" (click)="showSettings = true" style="z-index: 9;">
  <mat-icon class="mat-24">settings</mat-icon>
</button>
<mat-card class="settings-panel" *ngIf="showSettings">
  <mat-toolbar color="accent" class="d-flex justify-content-between">
    <span fxFlex>Options</span>
    <button mat-icon-button (click)="showSettings = false">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content class="demo-checkbox pb-20 pt-20">

    <div class="pb-15">
      <mat-checkbox [(ngModel)]="dark" (change)="change(dark)">Dark Mode</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
