<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">Accounts</h2>
  </div>

  <div class="skills">
    <div class="row">
      <!-- column -->
      <div class="col-lg-12">
          <div class="loader" *ngIf="loader">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
        <div class="d-flex date_row">
          <div class="date_col" *ngFor="let item of monthsData; let i = index">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">
              <div class="date_div">
                <p>{{item.total}} &#x20B9;</p>
                <div class="date_day">
                  {{i + 1}}
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
