
<div class="profile_login">
      
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Enter your password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button class="col-4" mat-raised-button color="primary">Login</button>
  </div>
  
</div>
<div class="button-row d-flex mac_close mac_close_pos">
  <button matDialogClose class="mac_red d-flex justify-content-center align-items-center"><i class="fa fa-close"></i></button>
  <button matDialogClose class="mac_yello d-flex justify-content-center align-items-center"><i class="fa fa-minus"></i></button>
  <button matDialogClose class="mac_green d-flex justify-content-center align-items-center"><i class="fa fa-plus"></i></button>

</div>