<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">Courses</h2>
  </div>
  
  <div class="d-flex course-row">
    <div class="col-md-3 mat_box_shadow" *ngFor="let item of playlist?.items">
      <a routerLink="/courses/{{item?.snippet?.title | trim}}">
        <img src="{{item?.snippet?.thumbnails?.medium?.url}}">
        <div class="course-contents">
          <h6>{{item?.snippet?.title}}</h6>
          <div class="course-detail d-flex justify-content-between">
            <p>
              <i class="fa fa-clock-o" aria-hidden="true"></i>1H.00M</p>
            <p>
              <span>FREE</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="loader" *ngIf="loader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
</div>
