<section class="dashboard_section d-flex align-items-center">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <!-- <mat-toolbar color="primary">prem..,</mat-toolbar> -->
      <div class="button-row d-flex mac_close">
        <button (click)="fullMinus()" class="mac_red d-flex justify-content-center align-items-center">
          <i class="fa fa-close"></i>
        </button>
        <button (click)="fullMinus()" class="mac_yello d-flex justify-content-center align-items-center">
          <i class="fa fa-minus"></i>
        </button>
        <button (click)="full()" class="mac_green d-flex justify-content-center align-items-center">
          <i class="fa fa-plus"></i>
        </button>

      </div>
      <div class="logo_div d-flex justify-content-center align-items-center">
        <div class="logo_img d-flex justify-content-center align-items-center">
          <img src="assets/images/logo.png" class="bounce">
        </div>
      </div>
      <mat-nav-list class="side_nav">
        <a mat-list-item routerLink="/home" routerLinkActive="active-link">
          <span class="d-flex justify-content-end">
            <i class="fa fa-home"></i>
          </span>Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active-link">
          <span class="d-flex justify-content-end">
            <i class="fa fa-user"></i>
          </span>About</a>
        <a mat-list-item routerLink="/my-skill" routerLinkActive="active-link">
          <span class="d-flex justify-content-end">
            <i class="fa fa-cogs"></i>
          </span>My Skill</a>
        <a mat-list-item routerLink="/courses" routerLinkActive="active-link">
          <span class="d-flex justify-content-end">
            <i class="fa fa-laptop"></i>
          </span>Courses</a>
          <a mat-list-item routerLink="/accounts" routerLinkActive="active-link">
            <span class="d-flex justify-content-end">
              <i class="fa fa-money"></i>
            </span>Accounts</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="d-flex justify-content-between">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>
          <button appFullscreen mat-icon-button>
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #user="matMenu" x-position="before">

            <button mat-menu-item (click)="openDialog()">
              <mat-icon>account_box</mat-icon>
              Profile
            </button>

            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <div class="common-bg p-30">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</section>
