/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
// fonts
@font-face {
  font-family: 'fontawesome';
  src: url('assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/fontawesome-webfont.woff') format('woff'), url('assets/fonts/fontawesome-webfont.ttf') format('truetype'), url('assets/fonts/fontawesome-webfont.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: url(./assets/images/login_bg.jpg);
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

body.dark {
  background: url(./assets/images/dark_bg.jpg);
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(38, 43, 51, 0.5);
  outline: 1px solid slategrey;
}

a,
button {
  outline: 0px !important;
}

h2 {
  font-size: 30px;
  margin: 0px;
}

h3 {
  font-size: 25px;
  margin: 0px;
}

h4 {
  font-size: 22px;
  margin: 0px;
}

h5 {
  font-size: 18px;
  margin: 0px;
}

h6 {
  font-size: 16px;
  margin: 0px;
}

p {
  font-size: 15px;
  margin: 0px;
  line-height: 25px;
  word-break: break-word;
}
.fs-14 {
  font-size: 14px;
}

.h-100 {
  height: 100vh !important;
}

.p-0 {
  padding: 0px;
}

.p-15 {
  padding: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.p-30 {
  padding: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
 

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 3s ease-in-out infinite;
}
//loader
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  margin: 0px !important;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

//loader
//colors
.mat-green {
  color: #009688;
}

.mat-green-bg {
  background-color: #009688;
}

.mat-gray-bg {
  background: rgba(240, 240, 240, 0.8);
}

.mat_box_shadow {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.br-10 {
  border-radius: 10px;
}

.common-bg {
  background: rgba(240, 240, 240, 0.8);
  min-height: 500px;
}
.full .common-bg {
  min-height: 100%;
}
.mat-menu-panel {
  background: rgba(240, 240, 240, 0.8);
  border-radius: 10px !important;
}

//mac close start
.mat-dialog-container {
  position: relative;
}

.button-row.mac_close {
  margin: 10px 0 50px 10px;
  &.mac_close_pos {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 0 0 0;
  }
  button {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: none;
    border: 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &.mac_red {
      background-color: rgba(244, 67, 54, 0.7);
      border: 1px solid rgba(244, 67, 54, 1);
      &:hover {
        background-color: rgba(244, 67, 54, 1);
      }
      i {
        color: #7f0102;
      }
    }
    &.mac_yello {
      background-color: rgba(255, 193, 5, 0.7);
      border: 1px solid #FFC107;
      &:hover {
        background-color: rgba(255, 193, 5, 1);
      }
      i {
        color: #99560a;
      }
    }
    &.mac_green {
      background-color: rgba(76, 175, 80, 0.7);
      border: 1px solid #4CAF50;
      &:hover {
        background-color: rgba(76, 175, 80, 1);
      }
      i {
        color: #036505;
      }
    }
    i {
      font-size: 10px;
      line-height: 7px;
    }
  }
}

//mac close end
// login :start
.login-container {
  // background: #f2f2f2;
  background: url(./assets/images/login_bg.jpg);
  position: relative;
  z-index: 0;
  &::before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.login-container .mat-form-field {
  width: 100%;
  margin-bottom: 25px;
}

.login_box {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

// login :end
// side nav start
.dashboard_section {
  position: relative;
  height: 100%;
}

.logo_div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 0 auto;
  .logo_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(0, 150, 136, 0.5);
    img {
      height: 60px;
    }
  }
}

mat-sidenav.sidenav {
  background: rgba(38, 43, 51, 0.5);
  position: absolute;
}

.mat-drawer-container {
  border-radius: 10px;
  width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  height: 550px !important;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}
.full .mat-drawer-container {
  width: 100%;
  height: 100% !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px !important;
}

.mat-toolbar.mat-primary {
  background: #009688;
}

mat-nav-list.side_nav {
  a {
    &.active-link{
      background: rgba(0, 0, 0, .04);
      div {
        color: #ffffff;
      }
      i {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
    span {
      width: 25px;
      margin-right: 10px;
    }
    div {
      color: rgba(255, 255, 255, 0.5);
    }
    i {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.5);
    }
    &:hover {
      div {
        color: #fff;
      }
      i {
        color: #fff;
      }
    }
  }
}

// side nav end
//my video start
.my_add {
  position: relative;
  height: 340px;
  width: 78%;
  margin: 0 auto;
  div {
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px 3px 10px;
    background: rgba(255, 255, 255, 0.4);
    iframe {
      width: 100%;
      height: 310px;
      transition: all 0.5s ease-in-out;
    }
  }
}
.full .my_add div iframe {
  height: 460px;
}
//my video end
// about :start
.about>div {
  margin-bottom: 25px;
}

.about div:last-child {
  margin-bottom: 0px;
}

.about>div div {
  margin-bottom: 10px;
}

.about_img {
  width: 200px;
  height: 200px;
  background: url(./assets/images/my_photo.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
// about :end
// myskill :start
.skills {
  width: 100%;
  padding-top: 0;
  .skillbar {
    width: 100%;
    height: 8px;
    padding: 0 0;
    box-sizing: border-box;
    background-clip: padding-box;
    margin-bottom: 40px;
    position: relative;
    border: 1px solid #000;
    .count-bar {
      width: 100%;
      height: 6px;
      width: 0;
      background-clip: padding-box;
    }
    .title {
      font-size: 14px;
      line-height: 25px;
      top: -25px;
      left: 0;
      text-transform: uppercase;
      position: absolute;
      font-weight: 400;
    }
    .count {
      top: -19px;
      right: 12px;
      line-height: 16px;
      color: #000;
      position: absolute;
      font-size: 11px;
    }
  }
}

// profile login start
mat-dialog-container.mat-dialog-container {
  border-radius: 10px;
  background: rgba(240, 240, 240, 0.9);
}

.profile_login .mat-form-field {
  margin-bottom: 25px;
  width: 100%;
  div {
    width: 100%;
  }
}

// profile login end
// curses start
.course-row {
  .col-md-3 {
    padding: 0px !important;
    background: #fff;
    margin-bottom: 15px !important;
    flex: 0 0 calc(25% - 10px);
    margin-right: 15px;
    transition: all 0.5s ease-in-out;
    border-top: 1px solid rgba(128, 128, 128, 0.7);
    &:hover {
      box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.25);
      transform: translateY(-10px);

    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: #009688;
      }
      img {
        max-width: 100%;
      }
      .course-contents {
        padding: 10px 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.7);
        h6 {
          margin: 0 0 15px 0;
          text-transform: capitalize;
          font-weight: normal;
        }
        p {
          line-height: 15px;
          font-size: 13px;
        }
      }
    }
  }
}

// curses end
// angular start
.angular_col {
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px !important;
  position: relative;
  transition: all 0.5s ease-in-out;
  border-top: 1px solid rgba(128, 128, 128, 0.7);
  &:hover {
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);

  }
  &:hover .plus_icon {
    display: flex;
  }
  .plus_icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    button {
      box-shadow: none;
      border: 0px;
      width: 50px;
      height: 35px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background: #f00;
      }
    }
  }
  img {
    width: 100%;
  }
  iframe {
    height: 98px;
    width: 100%;
  }
}


//common setting
.mat-card.settings-panel {
  position: fixed;
  bottom: 40%;
  right: 6px;
  width: 250px;
  z-index: 9;
}

.demo-checkbox {
  .mat-checkbox,
  .mat-checkbox-layout {
    width: 100%;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    flex: 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

button.set_button {
  position: fixed;
  right: 5px;
  top: 40%;
  animation: rotation 5s infinite ease-in-out;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//youtube popup
.youtube_popup {
  position: relative;
  margin-top: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  padding: 0 6px;
  iframe {
    width: 100%;
    margin-top: 8px;
  }
}

//accounts 
datatable-body.datatable-body {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.d-flex.date_row {
  flex-wrap: wrap;
  border: 1px solid gray;
  border-right: 0;
  border-bottom: 0;
      .date_col {
        width: calc(100% / 7);
        min-height: 100px;
        margin-bottom: 0px !important;
        padding: 10px;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        background: rgba(255, 255, 255, 0.2);
           a {
              display: block;
              width: 100%;
              height: 100%;
              color: gray;
              .date_div {
                  position: relative;
                  height: 100%;
                  width: 100%;
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-end;
                        p {
                          color: #0e0e0e;
                      }
                      .date_day {
                          position: absolute;
                          top: 0;
                          right: 0;
                      }
              }
          }
      }
}
