<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">Accounts</h2>
  </div>

  <div class="skills">
    <div class="row">
      <!-- column -->
      <div class="col-lg-12">
        <div class="min_height_body">
          <div class="progress-linear" role="progressbar">
            <ngx-datatable #mydatatable class="material" [loadingIndicator]="loadingIndicator" [headerHeight]="50"
              [limit]="20" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableData">
              <ngx-datatable-column name="Month" prop="month">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Indian Bank" headerClass="text-right" prop="indian_bank" [width]="100"
                [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <p class="m-0 text-right">{{value | number: '.0-2'}} &#x20B9;</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Kotak Bank" headerClass="text-right" prop="kotak_bank" [width]="130"
                [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <p class="m-0 text-right">{{value | number: '.0-2'}} &#x20B9;</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Hand" headerClass="text-right" prop="hand" [width]="80"
              [canAutoResize]="false">
              <ng-template ngx-datatable-cell-template let-value="value">
                <p class="m-0 text-right">{{value | number: '.0-2'}} &#x20B9;</p>
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="Expenses" headerClass="text-right" prop="balance" [width]="100"
                [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <p class="m-0 text-right">{{value | number: '.0-2'}} &#x20B9;</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Total" headerClass="text-right" prop="total" [width]="130" [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <p class="m-0 text-right">{{value | number: '.0-2'}} &#x20B9;</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                   <a [routerLink]="['/accounts/date/' + row.id]" routerLinkActive="router-link-active"> <i class="fa fa-eye"></i></a>
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
