<div class="about" [@routerTransition]>
  <div>
    <h2 class="mat-green">MY Skill</h2>
  </div>

  <div class="skills col-12">
    <div class="card">
      <div class="card-body">
        <div class="loader" *ngIf="loader">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <div *ngIf="chartData.length > 0">
          <div class="chart-container" style="width: 100%; height: 300px;">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="chartData" [gradient]="gradient" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [barPadding]="barPadding"
              [barPadding]="40" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
