<div *ngFor="let item of myinfo?.items" [@routerTransition]>
  <div>
    <h2 class="mat-green">{{item?.snippet?.localized?.title}}</h2>
  </div>
  <div class="d-flex justify-content-between mt-20 mb-20">
    <h6>
      Total Subscribers :
      <span><ng2-odometer [number]="item?.statistics.subscriberCount" [config]="{ }"></ng2-odometer></span>
    </h6>
    <h6>
      Total Videos Views :
      <span><ng2-odometer [number]="item?.statistics.viewCount" [config]="{ }"></ng2-odometer></span>
    </h6>
  </div>
  <!-- Further content here -->

  <div class="my_add d-flex flex-column">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0NYbAg6Imf4?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
